# REAL BASICS

In [8]:
# import facilities
import pandas as pd
import numpy as np
import os
os.chdir('/Users/su/Desktop/IMPLEMENTATION_CAMP/CODE/BASIC_TOPICS/DATA_SCIENCE/DATA/')
os.listdir(os.getcwd())

['carmpg.txt']

In [10]:
# load data
names = np.array(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', \
                  'model_year', 'origin', 'car_name'])
cars = pd.read_table('carmpg.txt', sep=r'\s+', names=names)
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [13]:
# COUNTER
from collections import Counter
c = Counter(cars['cylinders'])
c.most_common() # descending.

[(4, 204), (8, 103), (6, 84), (3, 4), (5, 3)]

In [15]:
# SORT
sorted(c.items(), key=lambda (cyl, count): count, reverse=True) # sort by second arg (i.e. count).

[(4, 204), (8, 103), (6, 84), (3, 4), (5, 3)]

In [17]:
# GENERATOR/ITERATOR
def lazy(n):
    i = 0
    while i < n:
        yield i
        i += 1
for i in lazy(5):
    print i**2

0
1
4
9
16

In [36]:
# RANDOM
import random
random.random() # generate a number uniformly from 0 to 1.
print 'randomly chosen from [0,10]: %s' % random.randrange(10) # randomly choosing from 0 to 10.
print 'randomly chosen from [3,6]: %s' % random.randrange(3, 6) # ... from 3 to 6.
upToTen = range(10)
random.shuffle(upToTen) # randomly shuffle the list
print 'shuffled list of range(10): %s' % upToTen
print 'randomly chosen from list [\'a\',\'b\',\'c\',\'d\']: %s' % random.choice(['a','b','c','d']) # randomly choosing from list
print 'randomly (w/o repl) sampled 6 numbers from [0,60]: %s' % random.sample(range(60), 6)
print 'randomly (w/ repl) sampled 6 numbers from [0,60]: %s' % [random.choice(range(60)) for _ in range(6)]

randomly chosen from [0,10]: 9
randomly chosen from [3,6]: 5
shuffled list of range(10): [0, 5, 3, 4, 9, 7, 2, 6, 8, 1]
randomly chosen from list ['a','b','c','d']: c
randomly (w/o repl) sampled 6 numbers from [0,60]: [10, 1, 56, 49, 48, 29]
randomly (w/ repl) sampled 6 numbers from [0,60]: [59, 23, 59, 49, 14, 59]

In [52]:
# REGEX
import re
print '\'cat\' doesn\'t start with a: %s' % (not re.match('a','cat'))
print '\'cat\' has an \'a\' in it:',  
if re.search('a','cat'): print True 
print 're.split(arg1,arg2) splits arg2 on separators in arg1: %s' % re.split('[ab]','carbs')
print 're.sub(arg1,arg2,arg3) replaces arg1 with arg2 in arg3: %s' % re.sub('[0-9]','-','R2D2')

'cat' doesn't start with a: True
'cat' has an 'a' in it: True
re.split(arg1,arg2) splits arg2 on separators in arg1: ['c', 'r', 's']
re.sub(arg1,arg2,arg3) replaces arg1 with arg2 in arg3: R-D-

In [71]:
# SET
from sets import Set
s = Set([1,2,3,4,5])
print s
s.add(4)
print 'add 4: %s' % s
s.remove(3)
print 'remove 3: %s' % s
print 'contain 3? %s' % (3 in s)

Set([1, 2, 3, 4, 5])
add 4: Set([1, 2, 3, 4, 5])
remove 3: Set([1, 2, 4, 5])
contain 3? False

In [72]:
# MAP
map(lambda x,y: x*y, [1,2], [4,5]) # 1*4, 2*5.

[4, 10]

In [75]:
# FILTER
l = range(10)
filter(lambda x: x%2==0, l) # filter by even-qualifier (only let even number through).

[0, 2, 4, 6, 8]

In [79]:
# REDUCE
l = range(10)
reduce(lambda x,y: x+y, l) # operating on elements one by one using function.

45

In [78]:
# PARTIAL
from functools import partial
l = range(10)
f = partial(reduce, lambda x,y: x+y)
    # partial(func, arg): use func which is fed with arg
f(l)

45

In [85]:
# ENUMERATE
l = ['a','b','c','d']
for i, letter in enumerate(l):
    print 'the %dth letter is %s' % (i+1, letter)

the 1th letter is a
the 2th letter is b
the 3th letter is c
the 4th letter is d

In [90]:
# ZIP
l1 = [1,2,3,4]
l2 = ['a','b','c','d']
l3 = ['yi1','er4','san1','si4']
print 'zipping 2 lists: %s' % zip(l1,l2)
print 'zipping 3 lists: %s' % zip(l1,l2,l3)
integer, letter, chineseNum = zip(*zip(l1,l2,l3))
print 'unpacking zipped result: %s %s %s' % (integer, letter, chineseNum)

zipping 2 lists: [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
zipping 3 lists: [(1, 'a', 'yi1'), (2, 'b', 'er4'), (3, 'c', 'san1'), (4, 'd', 'si4')]
unpacking zipped result: (1, 2, 3, 4) ('a', 'b', 'c', 'd') ('yi1', 'er4', 'san1', 'si4')

In [94]:
# *ARGS, **KWARGS
def foo(*args, **kwargs):
    print 'args: ', args
    print 'keyword args: ', kwargs
foo(1,2,3,4,key1='a',key2='b')

args:  (1, 2, 3, 4)
keyword args:  {'key2': 'b', 'key1': 'a'}